@define-color accent_color #279780;
@define-color accent_bg_color #2eb398;
@define-color accent_fg_color #ffffff;
@define-color destructive_color #d53e3e;
@define-color destructive_bg_color #db5b5b;
@define-color destructive_fg_color #ffffff;
@define-color success_color #279780;
@define-color success_bg_color #2eb398;
@define-color success_fg_color #ffffff;
@define-color warning_color #f06213;
@define-color warning_bg_color #F27835;
@define-color warning_fg_color #ffffff;
@define-color error_color #fb1f15;
@define-color error_bg_color #FC4138;
@define-color error_fg_color #ffffff;
@define-color window_bg_color #f7f7f7;
@define-color window_fg_color #273134;
@define-color view_bg_color #ffffff;
@define-color view_fg_color #303d41;
@define-color headerbar_bg_color #1b2224;
@define-color headerbar_fg_color #c6cdcb;
@define-color headerbar_border_color #121718;
@define-color headerbar_backdrop_color #1b2224;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color card_bg_color #ffffff;
@define-color card_fg_color #273134;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #f7f7f7;
@define-color dialog_fg_color #273134;
@define-color popover_bg_color #ffffff;
@define-color popover_fg_color #303d41;
@define-color shade_color rgba(0, 0, 0, 0.35);
@define-color scrollbar_outline_color #ffffff;
@define-color blue_1 #99c1f1;
@define-color blue_2 #62a0ea;
@define-color blue_3 #3584e4;
@define-color blue_4 #1c71d8;
@define-color blue_5 #1a5fb4;
@define-color green_1 #8ff0a4;
@define-color green_2 #57e389;
@define-color green_3 #33d17a;
@define-color green_4 #2ec27e;
@define-color green_5 #26a269;
@define-color yellow_1 #f9f06b;
@define-color yellow_2 #f8e45c;
@define-color yellow_3 #f6d32d;
@define-color yellow_4 #f5c211;
@define-color yellow_5 #e5a50a;
@define-color orange_1 #ffbe6f;
@define-color orange_2 #ffa348;
@define-color orange_3 #ff7800;
@define-color orange_4 #e66100;
@define-color orange_5 #c64600;
@define-color red_1 #f66151;
@define-color red_2 #ed333b;
@define-color red_3 #e01b24;
@define-color red_4 #c01c28;
@define-color red_5 #a51d2d;
@define-color purple_1 #dc8add;
@define-color purple_2 #c061cb;
@define-color purple_3 #9141ac;
@define-color purple_4 #813d9c;
@define-color purple_5 #613583;
@define-color brown_1 #cdab8f;
@define-color brown_2 #b5835a;
@define-color brown_3 #986a44;
@define-color brown_4 #865e3c;
@define-color brown_5 #63452c;
@define-color light_1 #ffffff;
@define-color light_2 #f6f5f4;
@define-color light_3 #deddda;
@define-color light_4 #c0bfbc;
@define-color light_5 #9a9996;
@define-color dark_1 #77767b;
@define-color dark_2 #5e5c64;
@define-color dark_3 #3d3846;
@define-color dark_4 #241f31;
@define-color dark_5 #000000;

windowcontrols button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
}

windowcontrols image {
  min-width: 30px;
  min-height: 28px;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 0;
  padding-top: -20px;
  padding-left: 0px;
}

windowcontrols image {
 
}
windowcontrols image:hover {
   background-color: transparent;
}
windowcontrols image:active {
  
}
window {
    border-radius: 10px;
}


windowcontrols button.close:backdrop, windowcontrols button.maximize:backdrop, windowcontrols button.minimize:backdrop {
  opacity: 1;
}

windowcontrols button.close {
  background-image: -gtk-scaled(url("assets/titlebutton-close-dark.png"), url("assets/titlebutton-close-dark@2.png"));
}

windowcontrols button.close:backdrop {
  background-image: -gtk-scaled(url("assets/titlebutton-close-backdrop-dark.png"), url("assets/titlebutton-close-backdrop-dark@2.png"));
}

windowcontrols button.close:hover {
  background-image: -gtk-scaled(url("assets/titlebutton-close-hover-dark.png"), url("assets/titlebutton-close-hover-dark@2.png"));
}

windowcontrols button.close:active {
  background-image: -gtk-scaled(url("assets/titlebutton-close-active-dark.png"), url("assets/titlebutton-close-active-dark@2.png"));
}

windowcontrols button.maximize {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize-dark.png"), url("assets/titlebutton-maximize-dark@2.png"));
}

windowcontrols button.maximize:backdrop {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize-backdrop-dark.png"), url("assets/titlebutton-maximize-backdrop-dark@2.png"));
}

windowcontrols button.maximize:hover {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize-hover-dark.png"), url("assets/titlebutton-maximize-hover-dark@2.png"));
}

windowcontrols button.maximize:active {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize-active-dark.png"), url("assets/titlebutton-maximize-active-dark@2.png"));
}

windowcontrols button.minimize {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize-dark.png"), url("assets/titlebutton-minimize-dark@2.png"));
}

windowcontrols button.minimize:backdrop {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize-backdrop-dark.png"), url("assets/titlebutton-minimize-backdrop-dark@2.png"));
}

windowcontrols button.minimize:hover {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize-hover-dark.png"), url("assets/titlebutton-minimize-hover-dark@2.png"));
}

windowcontrols button.minimize:active {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize-active-dark.png"), url("assets/titlebutton-minimize-active-dark@2.png"));
}



