@define-color accent_color #279780;
@define-color accent_bg_color #2eb398;
@define-color accent_fg_color #ffffff;
@define-color destructive_color #d53e3e;
@define-color destructive_bg_color #db5b5b;
@define-color destructive_fg_color #ffffff;
@define-color success_color #279780;
@define-color success_bg_color #2eb398;
@define-color success_fg_color #ffffff;
@define-color warning_color #f06213;
@define-color warning_bg_color #F27835;
@define-color warning_fg_color #ffffff;
@define-color error_color #fb1f15;
@define-color error_bg_color #FC4138;
@define-color error_fg_color #ffffff;
@define-color window_bg_color #f7f7f7;
@define-color window_fg_color #273134;
@define-color view_bg_color #ffffff;
@define-color view_fg_color #303d41;
@define-color headerbar_bg_color #f6f5f4;
@define-color headerbar_fg_color #121718;
@define-color headerbar_border_color #121718;
@define-color headerbar_backdrop_color #1b2224;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color card_bg_color #ffffff;
@define-color card_fg_color #273134;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #f7f7f7;
@define-color dialog_fg_color #273134;
@define-color popover_bg_color #ffffff;
@define-color popover_fg_color #303d41;
@define-color shade_color rgba(0, 0, 0, 0.35);
@define-color scrollbar_outline_color #ffffff;
@define-color blue_1 #99c1f1;
@define-color blue_2 #62a0ea;
@define-color blue_3 #3584e4;
@define-color blue_4 #1c71d8;
@define-color blue_5 #1a5fb4;
@define-color green_1 #8ff0a4;
@define-color green_2 #57e389;
@define-color green_3 #33d17a;
@define-color green_4 #2ec27e;
@define-color green_5 #26a269;
@define-color yellow_1 #f9f06b;
@define-color yellow_2 #f8e45c;
@define-color yellow_3 #f6d32d;
@define-color yellow_4 #f5c211;
@define-color yellow_5 #e5a50a;
@define-color orange_1 #ffbe6f;
@define-color orange_2 #ffa348;
@define-color orange_3 #ff7800;
@define-color orange_4 #e66100;
@define-color orange_5 #c64600;
@define-color red_1 #f66151;
@define-color red_2 #ed333b;
@define-color red_3 #e01b24;
@define-color red_4 #c01c28;
@define-color red_5 #a51d2d;
@define-color purple_1 #dc8add;
@define-color purple_2 #c061cb;
@define-color purple_3 #9141ac;
@define-color purple_4 #813d9c;
@define-color purple_5 #613583;
@define-color brown_1 #cdab8f;
@define-color brown_2 #b5835a;
@define-color brown_3 #986a44;
@define-color brown_4 #865e3c;
@define-color brown_5 #63452c;
@define-color light_1 #ffffff;
@define-color light_2 #f6f5f4;
@define-color light_3 #deddda;
@define-color light_4 #c0bfbc;
@define-color light_5 #9a9996;
@define-color dark_1 #77767b;
@define-color dark_2 #5e5c64;
@define-color dark_3 #3d3846;
@define-color dark_4 #241f31;
@define-color dark_5 #000000;

switch slider {
    background-color: #f6f6f6;
}
switch {
    background-color: #a9a9a9;
}
switch:checked {
    background-color: @accent_bg_color;
}
checkbutton check:checked {
    color: #363636;
    background-color:@accent_bg_color;
}
scale highlight {
    background-color: @accent_color;
}
scale slider {
    background-color: @accent_color;
}
list row.activatable:selected {
    color: @accent_fg_color;
    background-color: @accent_bg_color;
}
window {
    border-radius: 5px;
}

windowcontrols {
  border-spacing: 6px;
}

windowcontrols:not(.empty).start:dir(ltr),
windowcontrols:not(.empty).end:dir(rtl) {
  margin-right: 7px;
}

windowcontrols:not(.empty).start:dir(rtl),
windowcontrols:not(.empty).end:dir(ltr) {
  margin-left: 7px;
}

windowcontrols button {
  margin: 0;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  background-image: none;
}

windowcontrols button.close,
windowcontrols button.close:hover,
windowcontrols button.close:active,
windowcontrols button.close:active:hover,
windowcontrols button.maximize,
windowcontrols button.maximize:hover,
windowcontrols button.maximize:active,
windowcontrols button.maximize:active:hover,
windowcontrols button.minimize,
windowcontrols button.minimize:hover,
windowcontrols button.minimize:active,
windowcontrols button.minimize:active:hover {
  padding: -3px;
  margin: -3px;
  min-width: 40px;
  min-height: 40px;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 0;
}

windowcontrols button.close:backdrop,
windowcontrols button.maximize:backdrop,
windowcontrols button.minimize:backdrop {
  opacity: 1;
}

windowcontrols button.close {
  background-image: -gtk-scaled(url("assets/titlebutton-close.png"), url("assets/titlebutton-close@2.png"));
}

windowcontrols button.close:backdrop {
  background-image: -gtk-scaled(url("assets/titlebutton-close-backdrop.png"), url("assets/titlebutton-close-backdrop@2.png"));
}

windowcontrols button.close:hover {
  background-image: -gtk-scaled(url("assets/titlebutton-close-hover.png"), url("assets/titlebutton-close-hover@2.png"));
}

windowcontrols button.close:active {
  background-image: -gtk-scaled(url("assets/titlebutton-close-active.png"), url("assets/titlebutton-close-active@2.png"));
}

windowcontrols button.maximize {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize.png"), url("assets/titlebutton-maximize@2.png"));
}

windowcontrols button.maximize:backdrop {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize-backdrop.png"), url("assets/titlebutton-maximize-backdrop@2.png"));
}

windowcontrols button.maximize:hover {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize-hover.png"), url("assets/titlebutton-maximize-hover@2.png"));
}

windowcontrols button.maximize:active {
  background-image: -gtk-scaled(url("assets/titlebutton-maximize-active.png"), url("assets/titlebutton-maximize-active@2.png"));
}

windowcontrols button.minimize {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize.png"), url("assets/titlebutton-minimize@2.png"));
}

windowcontrols button.minimize:backdrop {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize-backdrop.png"), url("assets/titlebutton-minimize-backdrop@2.png"));
}

windowcontrols button.minimize:hover {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize-hover.png"), url("assets/titlebutton-minimize-hover@2.png"));
}

windowcontrols button.minimize:active {
  background-image: -gtk-scaled(url("assets/titlebutton-minimize-active.png"), url("assets/titlebutton-minimize-active@2.png"));
}

windowcontrols button.restore {
  background-image: -gtk-scaled(url("assets/unmaximize_normal.png"), url("assets/unmaximize_normal@2.png"));
}

windowcontrols button.restore:backdrop {
  background-image: -gtk-scaled(url("assets/unmaximize-normal-backdrop.png"), url("assets/unmaximize-normal-backdrop@2.png"));
}

windowcontrols button.restore:hover {
  background-image: -gtk-scaled(url("assets/unmaximize_hover.png"), url("assets/unmaximize_hover.png@2.png"));
}

windowcontrols button.restore:active {
  background-image: -gtk-scaled(url("assets/unmaximize_hover.png"), url("assets/unmaximize_hover.png@2.png"));
}

.fullscreen windowcontrols button.maximize,
.maximized windowcontrols button.maximize {
  background-image: -gtk-scaled(url("assets/unmaximize_normal.png"), url("assets/unmaximize_normal@2.png"));
}

.fullscreen windowcontrols button.maximize:backdrop,
.maximized windowcontrols button.maximize:backdrop {
  background-image: -gtk-scaled(url("assets/unmaximize-normal-backdrop.png"), url("assets/unmaximize-normal-backdrop.png@2.png"));
}

.fullscreen windowcontrols button.maximize:hover,
.maximized windowcontrols button.maximize:hover {
  background-image: -gtk-scaled(url("assets/unmaximize_hover.png"), url("assets/unmaximize_hover.png@2.png"));
}

.fullscreen windowcontrols button.maximize:active,
.maximized windowcontrols button.maximize:active {
  background-image: -gtk-scaled(url("assets/unmaximize_press.png"), url("assets/unmaximize_press.png@2.png"));
}